[submodule "aws-iot-device-sdk-python"]
	path = aws-iot-device-sdk-python
	url = https://github.com/aws/aws-iot-device-sdk-python.git
[submodule "braviarc"]
	path = braviarc
	url = https://github.com/aparraga/braviarc.git
